@media screen and (min-width: 993px){
  .seed::before {
    border-color: #384050 !important;
    right: -1.3rem !important;
  }

  .seed::after{
    border-color: #384050 !important;
  }

  .seed:nth-child(even)::after {
    top: -12.5px !important;
  }

  .seed:nth-child(odd):not(:last-child)::after{
    top: calc(52.5px + 12.5px) !important;
  }

  .seed:nth-child(even)::before {
    top: -12.5px !important;
  }
}

.seed-team:nth-child(odd) {
  border-bottom: 1px solid #384050;
}

.seed-team:nth-child(even){
  border-bottom: 1px solid transparent;
}